<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">My Apps</h1>
    </div>
  </div>
  <br />

  <ul>
    <li class="article-card">
      <a href="{{https://apps.apple.com/es/app/todobot/id1534834798}}" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author_data.avatar}}"
                width="50px"
                height="50px"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"ToDoBot"}} <span style="color: #ccc; font-size: 15px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
  </ul>
</section>