<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">My personal apps</h1>
    </div>
  </div>
  <br />

  <ul>
    <li class="article-card">
      <a href="https://apps.apple.com/es/app/todobot/id1534834798" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/a2/89/a0/a289a007-5cce-3a95-b4d7-88fafe46ab73/AppIcon-0-1x_U007emarketing-0-10-0-sRGB-85-220.png/217x0w.webp"
                width="35px"
                height="35px"
                class="rounded-corners"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"ToDoBot"}} <span style="color: #ccc; font-size: 18px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
    <li class="article-card">
      <a href="https://iacisclo.github.io/SunBurnBotSite" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="https://is4-ssl.mzstatic.com/image/thumb/Purple125/v4/c4/19/37/c41937de-b8ae-d1be-c8d1-bf9af8b6975c/AppIcon-0-1x_U007emarketing-0-10-0-85-220.png/230x0w.webp"
                width="35px"
                height="35px"
                class="rounded-corners"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"SunBurnBot"}} <span style="color: #ccc; font-size: 18px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
    <li class="article-card">
      <a href="https://apps.apple.com/es/app/restbot/id976920693" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/57/6e/a8/576ea840-da1f-05f0-47aa-89da57a0975d/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.webp"
                width="35px"
                height="35px"
                class="rounded-corners"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"RestBot"}} <span style="color: #ccc; font-size: 18px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
    <li class="article-card">
      <a href="https://apps.apple.com/es/app/restbot-2/id1619088204" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/57/6e/a8/576ea840-da1f-05f0-47aa-89da57a0975d/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.webp"
                width="35px"
                height="35px"
                class="rounded-corners"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"RestBot"}} <span style="color: #ccc; font-size: 18px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
    <li class="article-card">
      <a href="https://apps.apple.com/es/app/gu%C3%ADa-de-reptiles-de-españa/id507875329" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
               <img
                src="https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/e7/d9/39/e7d93930-03bb-23e7-223c-c79921dcebb7/AppIcon-0-85-220-0-4-2x-sRGB.png/230x0w.webp"
                width="35px"
                height="35px"
                class="rounded-corners"
             />
          </div>
          <div id="article-link">
              <p class="recent-article-link">{{"Spain reptile guide"}} <span style="color: #ccc; font-size: 18px;"> </span></p>
            </div>
        </div>
      </a>
    </li>
  </ul>
</section>